@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 50rem) {
    /* styles */
    .IntroWrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .MoneyShot,
    .IntroText {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        text-align: center;
    }

    .IntroText {
        padding: .5em;
        font-size: 1.8em;
        text-align: left;
    }

    .Ingredients {
        font-size: .9em;
        float: right;
        padding: 1rem;
        margin: 0 0 .5rem 1rem;
        border-radius: 3px;
        background-color: #ffffdf;
        border: 2px solid #e8cfa9;
    }

    .Ingredients h3 {
        margin: 0;
    }
}
    
img {
    max-width: 100%;
}
